/* Reset specific properties */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, pre, code, blockquote, hr, figure, table, fieldset, legend, textarea, input, button {
    margin: 0;
    padding: 0;
    border: 0;
}

body, button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
}

ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}



/* Set body font and background color */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

/* Header styles */
header {
    background-color: #8edddacb;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Main styles */
main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}
/*"""""""""""""""""" Video section styles ***************/

.video-section {
    padding:0;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-section video {
    position:fixed;
    margin-left: 75%;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    opacity: 0.9; /* Adjust opacity as needed */
}

/* Section styles */
section {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* Introduction section styles */
.intro {
    flex: 1 1 auto; /* Adjust as needed */
    max-width: 60%; /* Adjust as needed */
}

/* Image with caption section styles */
.image-with-caption {
    flex: 1 1 auto; /* Adjust as needed */
    max-width: 33%; /* Adjust as needed */
    margin-left: auto; /* Push to the right */
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Gallery section styles */
.gallery {
    flex: 1 1 100%; /* Occupy full width */
}

/* Image grid styles */
.image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-grid img {
    width: 100%;
    max-width: 300px; /* Adjust as needed */
    height: auto;
    margin: 10px;
    border-radius: 10px;
    object-fit: cover;
}

.image-grid h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Introduction content styles */
.intro-content {
    text-align: justify;
}
.geo-location-link {
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 310px; /* Adjust the width of the container */
    height: 300px; /* Adjust the height of the container */
}
.geo-location-link img {
    transition: transform 0.3s ease-in-out;
    object-fit: contain; /* Ensure image fits within its container without being cropped */
    width: 100%;
    height: 100%;
}


.geo-location-link:hover img {
    transform: scale(1.1); /* Scale up image on hover */
}

.geo-location-link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.geo-location-link:hover::before {
    opacity: 1; /* Show overlay on hover */
}

/* Geological location image styles */
.geo-location-image {
    text-align: center;
}

.geo-location-image img {
    width: 100%;
    max-width: 300px; /* Adjust as needed */
    height: auto;
    border-radius: 10px;
}



/* Waves footer */
body {
    margin:0;
  }
  .logo {
    width:50px;
    fill:white;
    padding-right:15px;
    display:inline-block;
    vertical-align: middle;
  }
  .flex { /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .waves {
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-6px; 
    min-height:100px;
    max-height:150px;
  }

.content {
    position:relative;
    height:20vh;
    text-align:center;
    background-color: rgb(255, 255, 255);  margin: 0; /* Reset margin */
    padding: 0; /* Reset padding */
 }
  .content p {
    margin: 0; /* Reset margin */
}


/* Animation */
.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}

.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px,0,0);
    }
    100% { 
        transform: translate3d(85px,0,0);
    }
}
/* Media queries */
@media only screen and (max-width: 1024px) {
    .intro, .image-with-caption {
        flex: 1 1 100%;
        max-width: 100%;
    }
}